<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ page.author }}">
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="img/ico/favicon.ico">
    
    <!-- main css -->
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" media="all" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>
  <body bgcolor="white">
    {% include navigation.html %}
    <div id="main" class="container">
      <div class="blog-header">
        <h1 class="blog-title">{{ site.title }}</h1>
        <p class="lead blog-description">Musings of a young tester</p>
      </div>
      <div class="col-sm-8 blog-main">
        {{ content }}
      </div>
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="blog-footer">
      <p>
      Blog templates written by <a href="https://twitter.com/ant1441" class="twitter">@ant1441</a> using <a href="http://getbootstrap.com/">Bootsrap</a>
      </p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-2.1.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </script>
  </body>
</html>
